<ons-page>
<ons-toolbar>
    <div class="center">
        Drone ID
    </div>
    <div class="right">
        <ons-toolbar-button icon="md-settings" style="color: #fff;" (click)="onSettingsClick()"></ons-toolbar-button>
    </div>
</ons-toolbar>

<div class="content">

    <!--Operator Card-->
    <ons-card class="opidStyle"  *ngIf="storage.operator.opID">
        <ons-row class="cardHead">
            <ons-col>
                Operator ID
            </ons-col>
        </ons-row>

        <ons-row>
                <ons-col>
                    <div class="emboss number">{{storage?.operator?.opID}}</div>
                </ons-col>
        </ons-row>
        <ons-row class="small-type">
            <ons-col>
                    Valid From
            </ons-col>
            <ons-col>
                    UNTIL END
            </ons-col>
        </ons-row>

        <ons-row class="emboss exp">
                <ons-col>
                        {{storage?.operator?.startDate}}
                </ons-col>
                <ons-col>
                        {{storage?.operator?.expDate}}
                </ons-col>
        </ons-row>
                    
                    <ons-row  class="emboss name">
                        <ons-col>
                                {{storage?.operator?.name}}
                        </ons-col>
                    </ons-row>
                    

    </ons-card>

    <!--Flyer Card-->

    <ons-card class="flyidStyle" *ngIf="storage.flyer.flyID">
            <ons-row class="cardHead">
                <ons-col>
                    Flyer ID
                </ons-col>
            </ons-row>
    
            <ons-row>
                    <ons-col>
                        <div class="emboss number">{{storage?.flyer?.flyID}}</div>
                    </ons-col>
            </ons-row>
            <ons-row class="small-type">
                <ons-col>
                        Valid From
                </ons-col>
                <ons-col>
                        UNTIL END
                </ons-col>
            </ons-row>
    
            <ons-row class="emboss exp">
                    <ons-col>
                            {{storage?.flyer?.startDate}}
                    </ons-col>
                    <ons-col>
                            {{storage?.flyer?.expDate}}
                    </ons-col>
            </ons-row>
                        
                        <ons-row  class="emboss name">
                            <ons-col>
                                    {{storage?.flyer?.name}}
                            </ons-col>
                        </ons-row>
                        
    
        </ons-card>

        <!--PFCO?-->
        
    <ons-card class="pfcoidStyle" *ngIf="storage?.pfco.pfcoID">
            <ons-row class="cardHead">
                <ons-col>
                    PFCO
                </ons-col>
            </ons-row>
    
            <ons-row>
                    <ons-col>
                        <div class="emboss number">{{storage?.pfco?.pfcoID}}</div>
                    </ons-col>
            </ons-row>
            <ons-row class="small-type">
                <ons-col>
                        Valid From
                </ons-col>
                <ons-col>
                        UNTIL END
                </ons-col>
            </ons-row>
    
            <ons-row class="emboss exp">
                    <ons-col>
                            {{storage?.pfco?.startDate}}
                    </ons-col>
                    <ons-col>
                            {{storage?.pfco?.expDate}}
                    </ons-col>
            </ons-row>
                        
                        <ons-row  class="emboss name">
                            <ons-col>
                                    {{storage?.pfco?.name}}
                            </ons-col>
                        </ons-row>
                        
    
        </ons-card>




       
</div>
</ons-page>