<ons-page>
<ons-list>
    <ons-list-header>Settings</ons-list-header>
    <ons-list-item modifier="nodivider">
        <div style="width: 100%; text-align: center;">
        <ons-button (click)="pushPage()">Edit Details</ons-button>
        </div>
    </ons-list-item>

    <ons-list-header>Useful Links</ons-list-header>
    <ons-list-item>
        <div class="center">
            Useful link?
        </div>
    </ons-list-item>

    <ons-list-item>
            <div class="center">
                Useful link?
            </div>
        </ons-list-item>

        <ons-list-item>
                <div class="center">
                    Useful link?
                </div>
            </ons-list-item>

            <ons-list-item>
                    <div class="center">
                        Useful link?
                    </div>
                </ons-list-item>
</ons-list>

</ons-page>