<ons-page id="welcomePage">
<div class="pageBG">
        <div class="welcomeBox">
                <div class="wrapper">
                    <ons-row>
                        <ons-col>
                            <div class="welcomeHead">
                                Drone ID
                            </div>
                        </ons-col>
                    </ons-row>

                    <ons-row>
                            <ons-col>
                                <div class="welcomeText">
                                        <p>A simple app designed to keep your drone identification in one place.</p>
                                        <p>Easy to use and present if required.</p>
                                        <p>To get started either visit the Drone Registration site to get your ID number or press Add Details to enter them into the app.</p>
                                        <p>Happy Flying!</p>
                                </div>
                            </ons-col>
                        </ons-row>

                </div>
              </div>
    

    <div style="position: absolute; bottom: 50px; width: 100%;">
    <ons-row style="text-align: center; padding: 10px 20px;">
        <ons-col>
            <ons-button modifier="large" style="background-color: #7C4DFF;"
            onclick="window.open('https://register-drones.caa.co.uk/', '_system', 'location=yes'); return false;">Visit CAA Site</ons-button>
        </ons-col>
    </ons-row>
    <ons-row style="text-align: center; padding: 10px 20px;">
        <ons-col>
            <ons-button modifier="large" (click)="pushPage()">Add Details</ons-button>
        </ons-col>
    </ons-row>
    </div>
</div>
</ons-page>