<ons-page>


        <ons-toolbar>
            <div class="center">Drone ID Details</div>
            <div class="right">
                <ons-toolbar-button style="color: #fff;" (click)="pushPage()">
                    <ons-icon icon="md-close"></ons-icon>
                </ons-toolbar-button>
            </div>
        </ons-toolbar>
        <div class="content">

                <!--Operator ID-->
                <ons-row>
                        <ons-col style="padding:0 16px;">
                                <h1>Operator Section</h1>
                        </ons-col>
                </ons-row>
    <ons-card>

                <ons-row>
                        <label for="opID">Operator ID</label>
                </ons-row>
                <ons-row>
                        <ons-input style="width: 100%;" [(ngModel)]="storage.operator.opID" id="opID" float placeholder="Operator ID" modifier="underbar" ></ons-input>
                </ons-row>

                <ons-row>
                        <label for="firstName">Name / Organisation</label>
                </ons-row>
                <ons-row>
                        <ons-input style="width: 100%;" id="name" [(ngModel)]="storage.operator.name" placeholder="Enter Name / Organisation" modifier="underbar" ></ons-input>
                </ons-row>
    
                <!--Operator Registration Date-->
                <ons-row>
                        <label for="opStartDate">Start Date</label>
                </ons-row>
                <ons-row>
                        <ons-input style="width: 100%;" [(ngModel)]="storage.operator.startDate" id="opStartDate" float placeholder="Start Date" modifier="underbar" ></ons-input>
                </ons-row>

                <ons-row>
                        <label for="opStartDate">Expiry Date</label>
                </ons-row>
                <ons-row>
                        <ons-input style="width: 100%;" [(ngModel)]="storage.operator.expDate" id="opStartDate" float placeholder="Expiry Date" modifier="underbar" ></ons-input>
                </ons-row>
    
    
        </ons-card>

        <ons-row>
                <ons-col style="padding:16px;">
                    <ons-button modifier="large" (click)="storage.addToStorage('operator', storage.operator)">Update Operator Details</ons-button>
                </ons-col>
            </ons-row>

                  <!--Flyer ID-->

            <ons-row>
                        <ons-col style="padding:0 16px;">
                                <h1>Flyer Section</h1>
                        </ons-col>
                </ons-row>

        <ons-card>

          
                    <ons-row>
                            <label for="flyID">Flyer ID</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" [(ngModel)]="storage.flyer.flyID" id="flyID" float placeholder="Flyer ID" modifier="underbar" ></ons-input>
                    </ons-row>

                    <ons-row>
                            <label for="firstName">Name / Organisation</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" id="name" [(ngModel)]="storage.flyer.name" placeholder="Enter Name / Organisation" modifier="underbar" ></ons-input>
                    </ons-row>
        
                    <!--Flyer Registration Date-->
                    <ons-row>
                            <label for="flyStartDate">Start Date</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" [(ngModel)]="storage.flyer.startDate" id="flyStartDate" float placeholder="Start Date" modifier="underbar" ></ons-input>
                    </ons-row>

                    <ons-row>
                            <label for="opStartDate">Expiry Date</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" [(ngModel)]="storage.flyer.expDate" id="opStartDate" float placeholder="Expiry Date" modifier="underbar" ></ons-input>
                    </ons-row>

       
        
            </ons-card>

            <ons-row>
                        <ons-col style="padding:16px;">
                            <ons-button modifier="large" (click)="storage.addToStorage('flyer', storage.flyer)">Update Flyer Details</ons-button>
                        </ons-col>
                    </ons-row>

                    <!--PFCO ID-->

                    
            <ons-row>
                        <ons-col style="padding:0 16px;">
                                <h1>PFCO Section</h1>
                        </ons-col>
                </ons-row>
            
        <ons-card>

                
                    <ons-row>
                            <label for="pfcoID">PFCO ID</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" [(ngModel)]="storage.pfco.pfcoID" id="flyID" float placeholder="Flyer ID" modifier="underbar" ></ons-input>
                    </ons-row>

                    <ons-row>
                            <label for="firstName">Name / Organisation</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" id="name" [(ngModel)]="storage.pfco.name" placeholder="Enter Name / Organisation" modifier="underbar" ></ons-input>
                    </ons-row>
        
                    <!--Flyer Registration Date-->
                    <ons-row>
                            <label for="flyStartDate">Start Date</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" [(ngModel)]="storage.pfco.startDate" id="flyStartDate" float placeholder="Start Date" modifier="underbar" ></ons-input>
                    </ons-row>

                    <ons-row>
                            <label for="opStartDate">Expiry Date</label>
                    </ons-row>
                    <ons-row>
                            <ons-input style="width: 100%;" [(ngModel)]="storage.pfco.expDate" id="opStartDate" float placeholder="Expiry Date" modifier="underbar" ></ons-input>
                    </ons-row>

            </ons-card>

            <ons-row>
                        <ons-col style="padding:16px;">
                            <ons-button modifier="large"  (click)="storage.addToStorage('pfco', storage.pfco)">Update PFCO Details</ons-button>
                        </ons-col>
                    </ons-row>

</div>


</ons-page>